<div class="container" style="padding-top: 5%">
  <div class="row">
    <div class="col-xs-12">
      <h3 style="color: white;">Daily Tasks</h3>
      <br>
      <div class="table-responsive">
        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality"
          class="table table-bordered table-hover"
          style="background-color: darkblue;">

          <thead>
            <tr>
              <th>Task</th>
              <th>Description</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of dailTasks">
              <td>{{task.name}}</td>
              <td>{{task.description}}</td>
              <td>{{task.startTime}}</td>
              <td>{{task.endTime}}</td>
            </tr>
          </tbody>

        </table>
      </div>
      <!--end of .table-responsive-->
    </div>
  </div>
</div>